.mat-mdc-dialog {
  &-content {
    display: flex;
    flex-direction: column;
    min-width: 400px;
  }

  &-actions {
    padding: 0 24px 16px;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 500px) {
  .mat-mdc-dialog-content {
    min-width: 0;
  }
}
