@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./marker-cluster.styles.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .sm-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 601px) {
  .lg-hidden {
    display: none !important;
  }
}

.mat-toolbar.mat-toolbar-single-row {
  height: 64px;
}
